extends layout

block content

    .container
        .row
            .col-md-8.col-sm-8.col-xs-12.mx-auto
                header.jumbotron.middle
                    .container
                        h1.text-center Submitted!