extends layout

block content

    .container
        .row
            .col-md-10.col-sm-10.col-xs-12.mx-auto
                header.jumbotron
                    .container
                        h1 Welcome To PlaceHolder!
                        br
                        a.btn.btn-primary(href='/course_search') Search for a Course!

